body{

    background-color: blueviolet;
}
/* .trans{
    background-color: antiquewhite;
    border: 3px solid oldlace;
    width: 200px;
    height: 200px;
    transition: all 2.5s 1s ease-in-out;
}
.trans:hover{
    width: 1200px;
    background-color: orange;
} */
button{
    width: 150px;
    height: 60px;
    background-color: rgb(97, 18, 232);
    font-weight: bolder;
    font-size: 20px;
    color: rgb(216, 244, 210);
    margin: 200px 333px;
    border-radius: 9px;
    transition: all 0.2s 0.2s linear;
}
button:hover{
    background-color: rgb(216, 244, 210);
    color: rgb(97, 18, 232);
    border: 6px solid blue;





}